body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* ------- */
/* sidebar for filters */
/* ------- */
.collapsed {
    display: none; /* hide it for small displays */
}
@media (min-width: 992px) {
    .collapsed {
        display: block;
        margin-left: -25%; /* same width as sidebar */
    }
}
#row-main {
    overflow-x: hidden; /* necessary to hide collapsed sidebar */
}
#content {
    -webkit-transition: width 0.3s ease;
    -moz-transition: width 0.3s ease;
    -o-transition: width 0.3s ease;
    transition: width 0.3s ease;
}
#sidebar {
    -webkit-transition: margin 0.3s ease;
    -moz-transition: margin 0.3s ease;
    -o-transition: margin 0.3s ease;
    transition: margin 0.3s ease;
}

/* ------- */

.smallBorder, .theaterTimes .film {
    margin-top:10px;
    border: #cdcdcd medium solid;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.theaterTimes {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

.allDetails img{
    max-height: 135px
}

.allDetails .row, .showtime{
    padding-bottom: 8px;
}

.details .type{
    font-weight: bold;
    padding-right: 10px;
}

.editDetails {
    font-size: small;
    border: solid 1px;
}

.updateFilm {
    border: solid 1px lightgrey;
    padding: 12px 8px 0px 4px;
    margin-bottom: 2px;
}

.hide {
    display: none;
}

.reviewed {
    opacity: 0.4;
}