body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* ------- */
/* sidebar for filters */
/* ------- */
.collapsed {
    display: none; /* hide it for small displays */
}
@media (min-width: 992px) {
    .collapsed {
        display: block;
        margin-left: -25%; /* same width as sidebar */
    }
}
#row-main {
    overflow-x: hidden; /* necessary to hide collapsed sidebar */
}
#content {
    -webkit-transition: width 0.3s ease;
    -moz-transition: width 0.3s ease;
    -o-transition: width 0.3s ease;
    transition: width 0.3s ease;
}
#sidebar {
    -webkit-transition: margin 0.3s ease;
    -moz-transition: margin 0.3s ease;
    -o-transition: margin 0.3s ease;
    transition: margin 0.3s ease;
}
@media (max-width: 700px) {
   #sidebar .filters {
      position: relative;
  }
}
@media (min-width: 701px) {
    #sidebar .filters {
        position: fixed;
        width: 25%;
        min-height: 500px;
    }
}

#sidebar .filters .panel-title{
    font-size: 13px;
    height: 6px;
}

.genre label {
    margin: 0 0 0 5px;
    font-weight: normal;
}

/* ------- */


.smallBorder, .theaterTimes .film {
    margin-top:10px;
    border: #cdcdcd medium solid;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.smallBorder, .theaterTimes {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  flex-wrap: wrap;
}

.allDetails img{
    max-height: 135px
}

.allDetails .row, .showtime{
    padding-bottom: 8px;
}

.details .type{
    font-weight: bold;
    padding-right: 10px;
}

.allDetails .language{
    font-weight: bold;
}

.altTitle {
    font-weight: 600;
    margin: -7px 1px 3px 0px;
}


.allDetails .filter {
    position: relative;
    cursor: pointer;
}
.allDetails .filter .starred {
    color: yellow;
}
.filterOut {
    bottom: -15px;
}
.filterOut:hover {
  color: red;
}
.filterOut .filterText {
  padding-left: 3px;
  font-size: medium;
}
.filteredFilm .addFilm {
    display: none;
    position: absolute;
    top: 20px;
    z-index: 30;
    color: green;
    text-shadow: 1px 1px 9px #333;
}
.filteredFilm:hover .addFilm, .filteredFilm.hover .addFilm {
    display: block;
}


/* for now, in theater view, hide showtimes - todo: use toggle */
/*.details.showtimes{
    display: none;
}*/

.editDetails {
    font-size: small;
    border: solid 1px;
}

.updateFilm {
    border: solid 1px lightgrey;
    padding: 12px 8px 0px 4px;
    margin-bottom: 2px;
}

.extraDetails {
    padding-left: 10px;
    font-size: x-small;
}

.extraDetails .different {
    color: red;
    font-weight: bold;
}

.hide {
    display: none;
}

.reviewed {
    opacity: 0.4;
}